<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Appenders>
    <Console name="LogToConsole" target="SYSTEM_OUT">
      <PatternLayout pattern="%5p | %d{HH:mm:ss.SSS} | [%t] | %F | %L | %msg%n"/>
    </Console>
  </Appenders>
  <Loggers>
    <Logger name="cz.jaroslavmedek" level="info" additivity="false">
      <AppenderRef ref="LogToConsole"/>
    </Logger>
    <Root level="error">
      <AppenderRef ref="LogToConsole"/>
    </Root>
  </Loggers>
</Configuration>